/* vietnamese */

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCNDiNsR5a-9Oe_Ivpu8XWlY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCKE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* main */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

body {
  margin: 0;
}

a {
  font-size: 1em;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  outline: none;
}

.mark-box {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
}

.mark-box>.content-box {
  margin: 0 auto;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 23px 4px rgba(0, 0, 0, .14), 0 5px 7px -3px rgba(0, 0, 0, .12), 0 12px 19px 3px rgba(0, 0, 0, .2);
  background: #fff;
  display: flex;
  flex-flow: column;
}

.mark-box>.content-box>h1 {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}

.mark-box input[type="text"] {
  border: 0;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #eee;
  width: 360px;
  font-size: 0.8em;
}

.mark-box input[type="button"] {
  border: 1px solid #eee;
  background: #666;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 10px 0;
  color: #fff;
}

.mark-box input[type="button"]:active {
  animation: button 0.3s ease-out;
  background: #333;
}

@keyframes button {
  0% {
    background: #666;
  }
  100% {
    background: #333;
  }
}


/* loading */

.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.boxLoading:before {
  content: "";
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

.boxLoading:after {
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

@keyframes animate {
  17% {
    background: #7ff;
    border-bottom-right-radius: 3px;
  }
  25% {
    background: #9ff;
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    background: #bff;
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    background: #dff;
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    background: #fff;
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}