/* header */

body {
  background-color: #eee;
  color: #333;
}

a {
  color: #333;
}

a:hover {
  color: #999;
}

header {
  /* todo prograss */
  background-color: #0ff;
}


/* main */

main {
  display: flex;
}


/* aside */

aside {
  display: inherit;
  background-color: #f5f5f5;
  box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, .14);
}

.doc-tree {
  padding: 30px 15px 30px 30px;
}

.doc-tree>h2 {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 1px;
}

.doc-tree ul>li {
  margin-left: 1em;
}

.doc-tree>ul>li {
  margin-left: 0;
}

.doc-tree>ul {
  line-height: 1.2em;
}

.doc-tree span {
  font-weight: bold;
  text-shadow: 0 0 1px;
}

.doc-tree span:hover {
  color: #999;
  cursor: pointer;
}

.doc-tree-taggle {
  display: inherit;
}

.doc-tree-taggle>button {
  width: 4px;
  height: 100%;
  margin: auto 2px;
  border-radius: 2px;
  background-color: #bbb;
  animation: flash-gray 2s ease infinite alternate;
}

.drawer>.doc-tree {
  display: none;
}


/* article */

article {
  flex: 1;
  min-height: 100vh;
  min-width: 10vw;
  overflow: hidden;
  background-size: 100% 100%;
}

article>section {
  margin: 0 24px 24px 24px;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .14), 0 11px 15px -7px rgba(0, 0, 0, .12), 0 24px 38px 3px rgba(0, 0, 0, .2);
}


/* nav */

article nav {
  display: flex;
  padding: 0 48px 64px 48px;
  margin-bottom: -64px;
  background-color: #666;
}

article nav>ul {
  padding: 32px 0;
  display: inherit;
  color: #fff;
}

article nav>ul:first-child {
  flex: 1;
}

article nav>ul>li {
  padding-right: 1em;
}

article nav>ul>li:last-child {
  padding-right: 0;
}

article nav>ul a {
  color: #fff;
}

article nav>ul a:hover {
  color: #ddd;
}


/* anim */

@keyframes flash-gray {
  0% {
    background: #fff;
  }
  100% {
    background: #ddd;
  }
}