body {
  background-color: #2c3338;
  color: #fff;
}

header {
  margin-top: 30vh;
}

header>h1 {
  text-shadow: 2px 1px 1px #666;
  font-weight: normal;
  margin: 0;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}


/* nav */

nav {
  padding: 5vh 0;
}

nav ul {
  text-align: center;
}

nav ul>li {
  display: inline-block;
  border-right: 1px solid #999;
  padding: 0 1em;
}

nav ul>li:last-child {
  border-right: 0;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #999;
}


/* footer */

footer {
  position: absolute;
  bottom: 0;
  color: #666;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}

footer * {
  padding-left: 1em;
}

footer>a {
  color: inherit;
}

footer>a:hover {
  color: #999;
}