body {
  background-color: #2c3338;
  color: #606468;
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
}

main>article {
  margin: 0 auto;
  display: inherit;
  flex-flow: column;
}

main>article>div {
  margin: 5px 0;
  display: inherit;
  border-radius: 5px;
}

main>article [class^="icon-"] {
  line-height: 3em;
  width: 3em;
  text-align: center;
  background-color: #363b41;
  border-radius: 5px 0 0 5px;
}

main>article>div>input {
  height: 3em;
  border: 0;
  margin: 0;
  font-size: 1em;
  border-radius: 0 5px 5px 0;
  background-color: #3b4148;
  padding: 0 1em;
  color: #eee;
}

main>article>input {
  background-color: #ea4c88;
  border: 0;
  height: 3em;
  font-size: 1em;
  border-radius: 3px;
  color: #eee;
  margin: 5px 0;
  text-transform: uppercase;
  cursor: pointer;
}

main>article>a {
  text-align: right;
  color: #eee;
}

main>article input[type='password']:focus,
main>article input[type='password']:hover,
main>article input[type='text']:focus,
main>article input[type='text']:hover {
  background-color: #434a52;
}

main>article input[type='button']:focus,
main>article input[type='button']:hover {
  background-color: #d44179;
}

.error [class^="icon-"] {
  color: #d62929;
  background-color: #734141;
}

.error>input {
  background-color: #5a4040;
}